{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
<table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mac</th>
            <th scope="col">Last Session</th>
        </tr>
    </thead>
    <tbody>
        {% if devices %}
        {% for device in devices|sort(attribute='last_session.created_local', reverse=True) %}
        <tr>
            <th scope="row">{{device.id}}</th>
            <td>{{device.mac}}</td>
            <td>
                <a href="{{ url_for('session', id=device.last_session.id) }}">
                    {{device.last_session.created_local}}
                </a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}