{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Device Id</th>
            <th scope="col">Mac</th>
            <th scope="col">Last Session</th>
        </tr>
    </thead>
    <tbody>
        {% if devices %}
        {% for device in devices %}
        <tr>
            <th scope="row">{{device.id}}</th>
            <td>{{device.mac}}</td>
            <td>
                <a href="{{ url_for('session', id=device.last_session.id) }}">
                    {{device.last_session.created}}
                </a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}