<title>BBQ Temps</title>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
    Simple Site for BBQ Temp
      <br><br>
      <table>
        <TR>
          <TH>Temp Id</TH>
          <TH>Session Id</TH>
          <TH>Temp1</TH>
          <TH>Temp2</TH>
          <TH>Volts</TH>
          <TH>Mac</TH>
          <TH>Mode</TH>
          <TH>Runtime(ms)</TH>
          <TH>Time (Pacific)</TH>
        {% if temps %}
        {% for temp in temps %}
        <TR>
          <TD>{{temp.id}}</TD>
          <TD>{{temp.session_id}}</TD>
          <TD>{{temp.temp_1}}</TD>
          <TD>{{temp.temp_2}}</TD>
          <TD>{{temp.volts}}</TD>
          <TD>{{temp.session.device.mac}}</TD>
          <TD>{{temp.mode}}</TD>
          <TD>{{temp.runtime_seconds}}</TD>
          <TD>{{temp.created.strftime('%H:%M:%S %Y-%m-%d')}}</TD>
        </TR>
        {% endfor %}
        {% endif %}
      </table>
    </body>

