<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    {% endblock %}

    <title>BBQ Temps</title>
    {% endblock %}
</head>

<body>
    <!-- header nav-->

    <nav class="container nav fixed-top bg-white justify-content-center mb-3 border-bottom">
        <h1>Simple BBQ Site</h1>
    </nav>


    <main class="container" role="main">
        <!-- extends -->
        {% block content %}
        {% endblock%}

        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}
    </main>

</body>

</html>