<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <style>
        body {
            padding-top: 90px;
        }

        .align-items-center {
            display: flex;
            align-items: center;
            /*Aligns vertically center */
            justify-content: center;
            /*Aligns horizontally center */
        }
    </style>
    {% endblock %}

    <title>BBQ Temps</title>
    {% endblock %}
</head>

<body>
    <!-- header nav-->

    <div class="container nav fixed-top bg-white align-items-center border-bottom pt-2 pb-1">
        <span>
            <h2>Simple BBQ Site |&nbsp;</h2>
        </span>
        <span>
            <a href="{{ url_for('index') }}">
                <h4>Home</h4>
            </a>
        </span>
    </div>


    <main class="container" role="main">
        <!-- extends -->
        {% block content %}
        {% endblock%}

        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}
    </main>

</body>

</html>
