<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>BBQ Temps</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <!-- header div-->
        <div class="row">
            <!-- Your page contont -->
            <h1>Simple BBQ Site</h1>            
        </div>

        <!-- extends div-->
        <div class="row">
            {% block content %}
            {% endblock%}

            {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {% endblock %}
        </div>
    </div>
</body>

</html>