{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center mb-3">
  <canvas id="myChart" height="150"></canvas>
</div>

<div id="app">
  <div>
    <table class="table table-sm text-center">
      <thead>
        <tr>
          <th scope="col">Last Update</th>
          <th scope="col">Temp1</th>
          <th scope="col">Temp2</th>
          <th scope="col">Volts</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>[[moment(temps[0].created).format("hh:mm:ss A")]]</td>
          <td>[[temps[0].temp_1]]</td>
          <td>[[temps[0].temp_2]]</td>
          <td>[[temps[0].volts]]</td>
        </tr>

      </tbody>
    </table>

    <a class="btn btn-primary mb-3" data-toggle="collapse" href="#tableCollapse" role="button" aria-expanded="false"
      aria-controls="tableCollapse">
      Toggle Table
    </a>
  </div>

  <div class="collapse" id="tableCollapse">
    <div class="row justify-content-center">
      <table class="table table-striped table-hover table-sm text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Temp1</th>
            <th scope="col">Temp2</th>
            <th scope="col">Volts</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>

          <tr v-for="temp in temps">
            <th scope="row">[[temp.session_temp_id]]</td>
            <td>[[temp.temp_1]]</td>
            <td>[[temp.temp_2]]</td>
            <td>[[temp.volts]]</td>
            <td>[[moment(temp.created).format("hh:mm:ss A")]]</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/moment@2.24.0/min/moment.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      temps: [{ 'created': '', 'temp_1': '', 'temp_2': '' }],
      temp_headers: [],
      temp_1_data: [],
      temp_2_data: [],
      chart: null
    },
    delimiters: ['[[', ']]'],
    methods: {
      newChart: function () {
        var timeFormat = 'YYYY-MM-DD h:mm:ss a';
        var color = Chart.helpers.color;
        var ctx = document.getElementById('myChart').getContext('2d');
        this.chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: this.temp_headers,
            datasets: [{
              label: 'Temp 1',
              data: this.temp_1_data,
              backgroundColor: color("rgb(255, 99, 132)").alpha(0.5).rgbString(),
              borderColor: "rgb(255, 99, 132)",
              pointRadius: 0,
              fill: false,
              lineTension: 0,
              borderWidth: 2
            }, {
              label: 'Temp 2',
              data: this.temp_2_data,
              backgroundColor: color("rgb(54, 162, 235)").alpha(0.5).rgbString(),
              borderColor: "rgb(54, 162, 235)",
              pointRadius: 0,
              fill: false,
              lineTension: 0,
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  parser: timeFormat,
                  // round: 'day'
                  tooltipFormat: 'YYYY-MM-DD h:mm:ss a',
                  displayFormats: {
                    second: 'h:mm:ss a',
                    day: 'MMM D'
                  }
                },
                ticks: {
                  autoSkip: true
                },
                scaleLabel: {
                  display: false,
                  labelString: 'Date'
                }
              }],
              yAxes: [{
                scaleLabel: {
                  display: false,
                  labelString: 'value'
                }
              }]
            },
            animation: {
              duration: 0
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                label: function (tooltipItem, myData) {
                  var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                  if (label) {
                    label += ': ';
                  }
                  label += tooltipItem.yLabel;
                  return label;
                }
              }
            }
          }
        })
      },
      updateChart: function () {
        this.chart.data.labels = this.temp_headers
        this.chart.data.datasets[0].data = this.temp_1_data
        this.chart.data.datasets[1].data = this.temp_2_data
        this.chart.update()
      },
      getTemps: function () {
        const url = `/api/session/{{ session.id }}/temps`

        axios
          .get(url)
          .then(response => {
            this.temps = response.data.data

            this.temp_headers = response.data.data.map(list => {
              return moment(list.created).format("YYYY-MM-DD h:mm:ss a")
            })

            this.temp_1_data = response.data.data.map(list => {
              return list.temp_1
            })

            this.temp_2_data = response.data.data.map(list => {
              return list.temp_2
            })
          })
      }      
    },
    created: function () {      
      this.newChart()
      this.getTemps()
      this.interval = setInterval(() => this.getTemps(), 5000)
    },
    updated: function () {
      this.updateChart()
    }//,
    //mounted() {      
    //  this.getTemps()
    //}
  })
</script>
{% endblock %}